<style>
body {
	margin: 0;
	text-align: center;
}

/* Style the header */
header {
    background-color: #666;
    padding: 5px;
    text-align: center;
    color: white;
}

section {
	padding: 5px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

div.grid1 {
	background-color: purple;
	
}

div.grid2 {
	background-color: green;
	animation-name: ani_grid2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

div.grid3 {
	background-color: orange;	
}

div.grid4 {
	background-color: pink;	
	animation-name: ani_grid4;
    animation-duration: 2s;
	animation-iteration-count: infinite;
}

div.grid5 {
	background-color: brown;
	position:absolute;
    left:0;
    width:50px;
    height:50px;    
    animation-name:ani_grid5;
    animation-duration:2s;
	animation-iteration-count: infinite;	

	
}



/* CSS transform standard syntax */
@keyframes ani_grid4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes ani_grid2 {
	0% {background-color: black;}
	20% {background-color: green;}
	40% {background-color: yellow;}
	60% {background-color: red;}
	80% {background-color: blue;}
	100% {background-color: green;}
}

@keyframes ani_grid5{
    from{
        left:0;
    }
    to{
        left:580px;
    }
}


.fas {
	animation-name: heartbeat;
    animation-duration: var(--heartbeat);
	animation-iteration-count: infinite;
}

@keyframes heartbeat {
	from {transform: scale(1,1); color: white;}
	to {transform: scale(1.2,1.2); color: red;}
}
</style>